@use "../abstracts/variables" as vars;

.hero {
  background-image: url("../img/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 0 5.5rem;
  font-family: vars.$font-primary;

  @media (max-width: 1170px) {
    background-size: 250%; 
    background-position: left center; 
  }

  .hero-content {
    max-width: 600px;
    text-align: center;
    color: vars.$color-primary;

    h1 {
      font-size: vars.$font-size-xxl;
      margin-bottom: vars.$spacing-md;
    }

    p {
      font-size: vars.$font-size-lg;
      color: vars.$color-muted;
      margin-bottom: vars.$spacing-lg;
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: vars.$spacing-sm;
    }
  }
}
